html,
body,
#root {
  height: 100%;
  background-color: #020617;
  margin: 0;
  padding: 0;
}


/* globals.css or any CSS file */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
